.news-feed {
  overflow-x: visible;
  overflow-y: scroll;
  padding-top: 5px;
  width: 94%;
}

.feed-item {
  margin-left: 1%;
  font-family: 'Lato';
  width: 96%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0px;
  transform: none;
  box-shadow: 0px 0px 5px 0px var(--rest-shade);
  transition: border-radius, transform, box-shadow 1000ms ease;
}

.feed-item:hover {
  z-index: 1;
  transform: scale(1.005);
  box-shadow: 0px 1px 20px 0px var(--float-shade);
  border-radius: 50px;
  transition: border-radius, transform, box-shadow 1000ms ease;
}

.feed-item__head {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 10% 40%;
  text-align: left;
  font-weight: bold;
}

.feed-item__title {
  font-size: 16px;
}

.feed-item__source {
  font-weight: bold;
}

.feed-item__date {
  text-align: right;
}

.feed-item__description {
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
}
