/* ******************************************* SEARCH MAIN */
.search-bar {
  position: absolute;
  top: 1.5em;
  right: 2em;
  width: 30em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: span 2 !important;
  -webkit-animation: fade-in 1000ms ease;
          animation: fade-in 1000ms ease;
}

.not-search {
  display: none;
}

/* ******************************************* SEARCH BAR MAIN */
.search-bar__form {
  display: grid;
  grid-template-columns: 12% 63% 25%;
  background-color: white;
  -webkit-box-shadow: 1px 0px 1px 0px var(--float-shade);
          box-shadow: 1px 0px 1px 0px var(--float-shade);
}

.search-results {
  position: absolute;
  width: 30em;
  height: 32.3em;
  top: 1.6em;
  background-color: transparent;
}

/* ******************************************* FORM MAIN */
.search-bar__icon {
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  padding-top: 2px;
  padding-left: 2px;
  -webkit-box-shadow: 1px 0px 5px 0px #b1b1b19c;
          box-shadow: 1px 0px 5px 0px #b1b1b19c;
}

.search-bar__input {
  height: 100%;
  font-weight: 100;
}

.button__search {
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px #b1b1b19c;
          box-shadow: 0px 0px 5px 0px #b1b1b19c;
  -webkit-transition: background-color, -webkit-box-shadow 1000ms ease;
  transition: background-color, -webkit-box-shadow 1000ms ease;
  transition: background-color, box-shadow 1000ms ease;
  transition: background-color, box-shadow 1000ms ease, -webkit-box-shadow 1000ms ease;
}

.button__search:hover {
  -webkit-box-shadow: -2px 0px 10px 0px var(--float-shade);
          box-shadow: -2px 0px 10px 0px var(--float-shade);
  -webkit-transition: -webkit-box-shadow 500ms ease;
  transition: -webkit-box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
}

.button__search:active {
  -webkit-box-shadow: 0px 0px 1px 0px #b1b1b19c;
          box-shadow: 0px 0px 1px 0px #b1b1b19c;
  background-color: #f5f5f52e;
  -webkit-transition: background-color, -webkit-box-shadow 500ms ease;
  transition: background-color, -webkit-box-shadow 500ms ease;
  transition: background-color, box-shadow 500ms ease;
  transition: background-color, box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
}

/* ******************************************* RESULTS MAIN */
.search-list {
  z-index: 99;
  background-color: transparent;
  padding-top: 5px;
  height: 32em;

  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 3em;
  grid-gap: 0.15em;
}

/* ******************************************* RESULTS LIST */
.search-result {
  display: grid;
  background-color: white;
  grid-template: 100% / 60% 25% 15%;
  margin-right: 2px;
  line-height: 3;
  -webkit-transform: none;
          transform: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 20px 20px 50px 0px var(--float-shade);
          box-shadow: 20px 20px 50px 0px var(--float-shade);
  cursor: pointer;
  border-radius: 3px;
  -webkit-animation: result-fade-in 500ms ease;
          animation: result-fade-in 500ms ease;
  -webkit-transition: border-radius 1000ms ease,
              -webkit-transform, -webkit-box-shadow 500ms ease;
  transition: border-radius 1000ms ease,
              -webkit-transform, -webkit-box-shadow 500ms ease;
  transition: border-radius 1000ms ease,
              transform, box-shadow 500ms ease;
  transition: border-radius 1000ms ease,
              transform, box-shadow 500ms ease,
              -webkit-transform, -webkit-box-shadow 500ms ease;

}

@-webkit-keyframes result-fade-in {
  0% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes result-fade-in {
  0% { opacity: 0.8; }
  100% { opacity: 1; }
}

.search-result:hover {
  z-index: 2;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-box-shadow: 0px 1px 20px 0px var(--float-shade);
          box-shadow: 0px 1px 20px 0px var(--float-shade);
  border-radius: 20px !important;
  -webkit-transition: border-radius 250ms ease,
              -webkit-transform, -webkit-box-shadow 250ms ease;
  transition: border-radius 250ms ease,
              -webkit-transform, -webkit-box-shadow 250ms ease;
  transition: border-radius 250ms ease,
              transform, box-shadow 250ms ease;
  transition: border-radius 250ms ease,
              transform, box-shadow 250ms ease,
              -webkit-transform, -webkit-box-shadow 250ms ease;
}

.search-result:hover .search-result__detail {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.selected {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  border-radius: 20px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-box-shadow: 0px 2px 20px 3px var(--float-shade);
          box-shadow: 0px 2px 20px 3px var(--float-shade);
}

.selected > .negative, .selected > .positive {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

/* ******************************************* RESULT MAIN */
.search-result__title {
  text-align: left;
  font-weight: bold;
  text-indent: 5px;
  display: grid;
  grid-template-rows: 60% 40%;
  overflow-x: hidden;
  text-overflow: clip;
}

.search-result__price {
  text-align: center;
}

.search-result__detail {
  z-index: 4;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: border-radius 1000ms ease;
  transition: border-radius 1000ms ease;
}

/* ******************************************* RESULT TITLE */
.search-result__symbol {
  font-size: 1em;
  line-height: 1.9;
}

.search-result__name {
  font-size: 0.7em;
  line-height: 1;
  white-space: nowrap;
}

/* ******************************************* RESULT DETAIL */
.positive {
  /* background-color: var(--stock-pos); */
  -webkit-box-shadow: inset 0px 0px 0px 1px var(--stock-pos);
          box-shadow: inset 0px 0px 0px 1px var(--stock-pos);
}

.negative {
  /* background-color: var(--stock-neg); */
  -webkit-box-shadow: inset 0px 0px 0px 1px var(--stock-neg);
          box-shadow: inset 0px 0px 0px 1px var(--stock-neg);
}
