.content {
  overflow: hidden;
  display: grid;
  grid-column: span 11;
  grid-row: span 8;
  grid-template-rows: 1fr 2fr 3fr;
}
.stock-view {
  grid-row: span 8;
  grid-column: span 11;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 12.5%);
}

.stock-view__title {
  grid-row: 1 / span 1;
  grid-column: span 12;
  line-height: 4;
  text-align: center;
  text-indent: -6%;
  display: grid;
  grid-template: 1fr / 100%;
}

.chart {
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(40, 1.98em);
  grid-template-rows: repeat(10, 1.87em);
  box-shadow: 0px 2px 20px 0px var(--rest-shade);
}

.feed-dash {
  grid-row: 6 / span 3;
  overflow-x: visible;
  overflow: scroll;
}

.chart-wrap {
  grid-column: 1 / span 23;
  grid-row: 1 / span 10;
  display: grid;
  grid-template-columns: 100px auto 200px;
}

.chart-tab {
  grid-column: 1;
  grid-row: 1;
}

.chart-view {
  grid-column: 2 / span 21;
  grid-row: 1 / span 10;
  height: 95%;
  width: 95%;
}

.mock__chart-controls {
  grid-column: span 15;
  grid-row: span 10;
  display: grid;
}


.dash-widget.stock-view {
  grid-row: auto;
  grid-column: auto;
  grid-template-rows: 100%;
  grid-template-columns: repeat(12, 1fr);
}

.dash-widget__vitals.stock-view {
  grid-column: 1 / span 5;
}

.dash-widget__key-stats.stock-view {
  grid-column: 6 / span 6;
  grid-row: 1;
}

.dash-widget__mini-chart.stock-view {
  display: none;
}
