.content {
  overflow: hidden;
  display: grid;
  grid-column: span 11;
  grid-row: span 8;
  grid-template-rows: 1fr 2fr 3fr;
}
.stock-view {
  grid-row: span 8;
  grid-column: span 11;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 12.5%);
}

.stock-view__title {
  grid-row: 1 / span 1;
  grid-column: span 12;
  line-height: 4;
  text-align: center;
  text-indent: -6%;
  display: grid;
  grid-template: 1fr / 100%;
}

.chart {
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(40, 1.98em);
  grid-template-rows: repeat(10, 1.87em);
  box-shadow: 0px 2px 20px 0px var(--rest-shade);
}

.feed-dash {
  grid-row: 6 / span 3;
  overflow-x: visible;
  overflow: scroll;
}

.chart-wrap {
  grid-column: 1 / span 23;
  grid-row: 1 / span 10;
  display: grid;
  grid-template-columns: 100px auto 200px;
}

.chart-tab {
  grid-column: 1;
  grid-row: 1;
}

.chart-view {
  grid-column: 2 / span 21;
  grid-row: 1 / span 10;
  height: 95%;
  width: 95%;
}

.mock__chart-controls {
  grid-column: span 15;
  grid-row: span 10;
  display: grid;
}


.dash-widget.single-stock {
  grid-row: 1 / span 2;
  grid-column: 1;
  grid-template-rows: 100%;
  grid-template-columns: repeat(12, 1fr);
}

.dash-widget__vitals.single-stock {
  grid-column: 1 / span 5;
  grid-row: 1;
  text-indent: 0%;
}

.dash-widget__key-stats.single-stock {
  grid-column: 6 / span 6;
  grid-row: 1;
}

.dash-widget__mini-chart.single-stock {
  display: none;
}

.dash-widget-selected.single-stock {}

.dash-widget:hover.single-stock {}



.dash-widget__title.single-stock {
  grid-row: 1 / span 5;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-indent: 0%;
}

.dash-widget__symbol.single-stock {
  display: block;
  font-size: 3.5em;
  grid-row: 2 / span 2;
  grid-column: 1;
  line-height: 0.95;
}

.dash-widget__company-name.single-stock {
  display: block;
  font-size: 1.5em;
  grid-row: 1;
  grid-column: 1;
  text-indent: 3px;
}

.dash-widget__price.single-stock {
  grid-row: 4 / span 5;
  grid-column: 4 / span 8;
  line-height: 1;
  text-align: left;
  font-size: 4.5em;
}

.dash-widget__change-wrap.single-stock {
  grid-row: 7 / span 1;
  grid-column: 1 / span 3;
  line-height: 1;
}

.dash-widget__indicator.single-stock {
  grid-row: 7 / span 2;
  grid-column: 1 / span 3;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}



[class^='key-stat__'].single-stock {}

.key-stat__label.single-stock {}

.key-stat__datum.single-stock {}


.dash-widget__change.single-stock {}

.dash-widget__change-percent.single-stock {}

.dash-widget__primary-exchange.single-stock {}
