.dash {
  grid-column: span 11;
  grid-row: span 8;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.dash__carousel-wrap {
  display: grid;
  /* grid-template-columns: 50px auto 50px; */
  grid-template-columns: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

.dash__carousel {
  display: grid;
  grid-gap: 8px;
  overflow-x: scroll;
  /* grid-template-columns: 50px repeat(5, 1fr) 50px; */
  /* grid-template-columns: repeat(5, 20%); */
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: 600px;
}

[class^="dash__arrow-"] {
  position: sticky;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dash-widget {
  display: grid;
  grid-column: span 8;
  grid-template-rows: 10% 26% 35% 28%;
}

.dash-widget__mini-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dash-widget__key-stats {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}


.dash-widget__vitals {
  display: grid;
  /* grid-template-columns: repeat(2, 50%); */
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(2, 50%);
}

.dash-widget__title {
  /* font-size: 1.2em; */
  font-weight: 700;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: auto auto;
}

.dash-widget__primary-exchange {
  font-size: 12px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.dash-widget__price {
  /* font-size: 1.5em; */
  font-weight: 700;
  text-align: left;
  grid-column: span 1;
  grid-row: span 1;
}

.dash-widget__change {
  /* font-size: 1em; */
  font-weight: 700;
  text-align: left;
  grid-column: span 1;
  grid-row: 2/ span 1;
  display: grid;
  grid-template-columns: auto auto 10%
}

.dash-widget__feed {
  overflow-y: scroll;
}

.mini-feed-item {
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 5px;
  padding: 5px;
}

.mini-feed-item__headline {
}

.mini-feed-item__source {
  text-indent: 10px;
}
