.dash {
  margin-left: 3px;
  grid-column: span 11;
  grid-row: span 8;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.dash__greeting {
  grid-row: 1 / span 1;
}

.dash__carousel-wrap {
  grid-row: 2 / span 6;
  display: grid;
  grid-template-columns: 100%;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-rows: 600px;
}


.dash__carousel {
  display: grid;
  grid-gap: 5px;
  overflow-x: scroll;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: 584px;
}

.dash__ticker {
  grid-row: 8 / span 1;
}

[class^="dash__arrow-"] {
  position: sticky;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dash-widget {
  margin-top: 1px;
  margin-bottom: 1px;
  display: grid;
  grid-column: span 8;
  grid-template-rows: repeat(10, 10%);
  border-radius: 3px;
  transform: none;
  box-shadow: 0px 0px 5px 0px var(--rest-shade);
  transition: border-radius, transform, box-shadow 500ms ease;
}

.dash-widget-selected {
  position: absolute;
  grid-column: span 15;
  z-index: 5;
  background-color: white;
}

.dash-widget:hover {
  z-index: 2;
  transform: scale(1.005);
  box-shadow: 0px 1px 20px 0px var(--float-shade);
  border-radius: 20px;
  transition: transform, box-shadow, border-radius 250ms ease;
}

.dash-widget__mini-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 8 / span 3;
}

.dash-widget__vitals {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row: 1 / span 3;
}

[class^='dash-widget__indicator'] {
  grid-column: 1 / span 12;
  grid-row: 6 / span 1;
}

.dash-widget__price {
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  grid-column: 1 / span 12;
  grid-row: 4 / span 1;
  padding-left: 5px;
}

.dash-widget__title {
  font-weight: 700;
  grid-column: 1 / span 9;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: auto auto;
  text-align: left;
  padding-left: 5px;
  line-height: 1.1;
}

.dash-widget__symbol {
  font-size: 1.8em;
}

.dash-widget__company-name {
  font-size: 1em;
}

.dash-widget__change-wrap {
  grid-column: 7 / span 6;
  grid-row: 5 / span 1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}

.dash-widget__change {
  /* grid-column: span 4; */
}

.dash-widget__change-percent {
  /* grid-column: span 3; */
}

.dash-widget__primary-exchange {
  font-size: 12px;
  /* grid-column: 6 / span 7;
  grid-row: 5 / span 2; */
}

.dash-widget__key-stats {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 25%;
  text-align: left;
  font-size: 0.7em;
  line-height: 1;
  grid-row: 4 / span 4;
}

[class^='key-stat__'] {
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.key-stat__label {
  font-size: 1.1em;
}

.key-stat__datum {
  font-size: 1.3em;
}

.dash-widget__feed {
  overflow-y: scroll;
  grid-row: 5 / span 2;
}

.mini-feed-item {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
  padding: 5px;
}

.mini-feed-item__headline {
}

.mini-feed-item__source {
  text-indent: 10px;
}
